img {
    display: block;
    width: 100%;
    height: 400px;
    object-fit: cover;
}

aside {
    display: none;
}

@media only screen and (max-width: 360px) {
    #two.heading, #three.heading, #four.heading {
        display: none;
    }
    .images {
        padding-left: 0.2em;
        padding-right: 0.2em;
    }
    img {
        height: 145px;
        margin-top: 0.3em;
        margin-bottom: 0.3em;
        width: 100%;
    }
}

@media only screen and (min-width: 361px) and (max-width: 960px) {
    aside {
        display: block;
    }
    #two, #three {
        display: none;
    }
    #aside, #one.image {
        object-fit: cover;
        display: block;
        width: 49%;
        padding: 1em;
        height: 340px;
        float: left;
        padding: 0.5%;
        background-color: #ffffff;
        overflow: hidden;
    }
    img {
        height: 400px;
    }
}